@font-face {
    font-family: "schwifty";
    src: url(./fonts/get_schwifty.ttf);
}

body{
    background-image: url(./img/fondo.jfif);
}
main{
    display: flex;
    flex-wrap: wrap;
}

img{
    width:300px;
    height: 300px;
    border: 4px solid  #1A4D2E;
}

.img{
    width:300px;
    height: 300px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}

article{
    border: 1px solid #00000054;
    border-radius: 5px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 4px 3px 2px rgba(0, 0, 0, 0.795);
    background-color: #45973f;
}


header{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    background-position: center;
    padding: 40px;
}

h1{
    letter-spacing: 10px;
    font-family: "schwifty";
    font-size: 60px;
    color: #5BD1D7;
    text-shadow: 2px 5px 5px 2px white;
}

.content{
    background-color: #4faf4871;
    padding: 15px;
    border-radius: 5px;
}

.info{
    background-color: #6ce66334;
    padding: 15px;
    border-radius: 5px;
    font-family: "schwifty"
}
